.article-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  padding-bottom: 5rem;
}

.article-view img {
  border-radius: 20px;
}

.article-view a {
  text-decoration: none;
  color: black;
}

.title {
  text-align: center;
}

.description {
  font-style: italic;
}

.content,
.description,
.title,
.article-view img {
  width: 60%;
}

.writer-info {
  display: flex;
  gap: 1rem;
  color: #3e3d3d;
}

.source-button {
  height: 2rem;
  width: 60%;
  border: none;
}

.source-button:hover {
  background:#36635f33;
}



