.article-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  margin: 2rem;
  padding-top: 4rem;
}

.article-cards-container a {
  text-decoration: none;
  color: black;
}



